header {
    background-color: rgb(245, 154, 36);
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 50px;
    width: auto;
    margin-left: 80%;
}

.menu {
    padding-right: 10%;
}

.menu li {
    list-style-type: none;
    margin-right: 5%;
    
}

.menu ul {
    display: flex;
    
    
}

.menu a {
    text-decoration: none;
    color: rgb(2, 167, 240);
}
/* Footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6C6C6C;
}