header {
    background-color: rgb(245, 154, 36);
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 50px;
    width: auto;
    margin-left: 80%;
}

.menu {
    padding-right: 10%;
}

.menu li {
    list-style-type: none;
    margin-right: 5%;
    
}

.menu ul {
    display: flex;
    
    
}

.menu a {
    text-decoration: none;
    color: rgb(2, 167, 240);
}


/* Footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6C6C6C;
}

.lien-news {
    //background-color: red;
    color: white;
}

.lien-news ul {
    padding-left: 0;
}

.lien-news li {
    list-style-type: none;
}

.form-news {
    //background-color: blue;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    
}

.google-map{
    //background-color: aquamarine;
}

.social-news{
    //background-color: bisque;
    width: 40%;
    padding-left: 5%;
    color: white;
    
}

.newsletter2{
    color: white;
    text-align: center;
    margin-bottom: 5px;
}

#newsletter {
    border: solid rgb(245, 154, 36) 2px;
    margin-bottom: 5px;
}


.news_global{
    display: flex;
    width: 80%;
    justify-content: space-around;
}

#submit-newsletter{
    background-color: rgb(245, 154, 36);
    border-radius: 40px;
    width: 60%;
    box-shadow: none;
    text-align: center;
    display: flex;
    align-items: center;
}

/* section contact */

#contact article{
    display: flex;
}

#contact article > *{
width: 30%;
}

#contact img{
    width: 100%;
}





/* BIENVENUE */

h1 {
    font-size: 48;
    font-family: Poppins;
    color : #02A7F0;
}

.sectionBackgroundBienvenue {
    background-image: url("assets/images/slide/slide-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

.divBienvenue {

    
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 380px;
    
    

}

.pLoremBienvenue {
    
    text-align:center; 
    vertical-align: middle;
    font-size: 20px;

    display: inline-block;
    vertical-align: middle;
    width: 70%;
}